<div>
  <h1>SAVE THE TRILOBITE</h1>
  <div class="app-wrapper">
    <div class="section-wrapper temp-section">
      <h3>TEMPERATURA</h3>
      <P>20°C</P>
    </div>
    <div class="section-wrapper check-section">
        <h3>CONTROLLO TEMPERATURA</h3>
        <div class="btn-wrapper">
          <button>ACCESA</button>
          <button>SPENTA</button>
          <button>AUTO</button>
        </div>
    </div>
    <div class="section-wrapper temp-section">
      <p>Temperatura: 20 °C</p>
    </div>
    <div class="section-wrapper temp-section">
      <p>Temperatura: 20 °C</p>
    </div>
  </div>
</div>